<mat-card>
    <h2 class="title-color"> Reference</h2> 
    <ng-container *ngIf="ReferencePeople == null then empty else notempty">


    </ng-container>
</mat-card>

<ng-template #empty>
    <div class="d-flex justify-content-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #notempty>

    <div class="row">
        <div class="col-md-6 mt-1" *ngFor="let item of ReferencePeople" >
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">    <img  [src]="'/../assets/'+item.image" width="50" [alt]="item.name">
          </div>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>{{item.position}}</mat-card-subtitle>
     
        </mat-card-header>
        <mat-card-content>
            <a [href]="item.link">{{item.link}}</a>
        </mat-card-content>
       
      
      </mat-card>
    </div>
    </div>

</ng-template>