.info{
    position: fixed;
    float: left;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 99999;
}
@media screen and (max-width:60rem){
    .info{
        position: static;
        float: none;
        display: block;
        margin-top: 15px;
        margin-left: 5px;
        padding-left: 5px;
        height: auto;
        width: 100%;
        
    }
}
@media screen and (max-width:40rem){
    .mt-sm-4{
        margin-top: 0.5rem;
        
    }
    .info{
        height: auto;
    }
}
