.text-el{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.example-card{
    height: 100vh;
}
@media screen and (max-width:60rem){
    .example-card{
        height: auto;
    }
}