<mat-card class="example-card">
<ng-container *ngIf="this.Profile == null then empty else notEmpty ">

</ng-container>
</mat-card>
  <ng-template #empty>
    <div class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
  </ng-template>

  <ng-template #notEmpty>
  

      <mat-card-header class="d-block">
        <h2 class="text-center d-block title-color"> Personal Information</h2>
        <h3 class="text-center d-block">{{this.Profile.name}}</h3>
      </mat-card-header>
      <mat-card-content >
        <div class="d-flex justify-content-center">
         <img src="../../assets/perosn.jpg" class="d-block rounded-circle" width="150"/>
         </div>
         <dl class="dl-horizontal mt-5">
          <dt> <i class="fa fa-envelope" aria-hidden="true"></i>
            Email</dt>
          <dd> <a [href]="'mailto:'+this.Profile.email"> {{this.Profile.email}}</a></dd>
          <dt><i class="fa fa-phone" aria-hidden="true"></i>
            Phone</dt>
          <dd>{{this.Profile.phone}}</dd>

          <dt><i class="fa fa-map-marker" aria-hidden="true"></i>
            Address</dt>
          <dd class="text-el"> {{this.Profile.Address}} </dd>

          <dt><i class="fa fa-github" aria-hidden="true"></i>
            Github</dt>
          <dd> <a [href]="this.Profile.github" target="_blank">   {{this.Profile.github}}</a></dd>

          <dt><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            LinkedIn</dt>
          <dd class="text-el"> <a [href]="this.Profile.LinkedIn" target="_blank">   {{this.Profile.LinkedIn}}</a></dd>

          
        
        </dl>
      </mat-card-content>
    
    <!--Tesitng -->
     
  </ng-template>
